*
{
    padding: 0;
    margin: 0;
}
.footer
{
    background-color: #F0F8FF;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.276);
    display: flex;
    margin-top: 5px;
}

.logo2 img 
{
    width: 80px;
    height: 43px;
    padding: 10px;
    margin-left: 100px;
}
.copy
{
    margin-left: 60px;
    margin-top: 20px;
}
.terms
{
    margin-left: 750px;
    margin-top: 20px;
    font-weight: bold;
}